PORT=4301
CORS_ORIGIN=http://localhost:5173
DISABLE_TLS_VERIFY=true

RESERVATION_API_BASE=http://localhost:7058/api
RESERVATION_API_TOKEN=

EVRAK_API_BASE=https://localhost:44368/api
EVRAK_API_TOKEN=

AVRASYA_API_BASE=https://denturavrasya.com:7284/api
AVRASYA_API_TOKEN=
