PORT=4301
CORS_ORIGIN=http://localhost:5173
DISABLE_TLS_VERIFY=true

RESERVATION_API_BASE=https://rezervasyon.denturgrup.com.tr/api
RESERVATION_API_TOKEN=
RESERVATION_AUTH_EMAIL=accounter@d1-tech.com
RESERVATION_AUTH_PASSWORD=Accounter123!

EVRAK_API_BASE=http://37.148.212.71:4746/api
EVRAK_API_TOKEN=
EVRAK_AUTH_EMAIL=admin@admin.com
EVRAK_AUTH_PASSWORD=Aa123456

AVRASYA_API_BASE=https://denturavrasya.com:7284/api
AVRASYA_API_TOKEN=
